/*color: #585C5F;*/

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #EDEFEC;
  font-family: 'Nunito', sans-serif;
  text-align:center;
  margin:10px auto;
}

.firstintro, .scdintro{
  color: #585C5F;
  text-align:center;
  margin:10px auto;
}

.firstintro p, .scdintro p {
  font-size: 12px;
}

.firstphotos, .scdphotos {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  max-width: 600px;
  padding: 0 0 0 -10px;
}

.SF, .NY, .LDN, .NAPA, .SFii, .SNM {
  position: relative;
}

.SF-image, .NY-image, .LDN-image, .NAPA-image, .SFii-image, .SNM-image {
  width: 180px;
  height: 230px;
  overflow: hidden;
  margin: 10px auto;
}

.SF-image img, .NY-image img, .LDN-image img, .NAPA-image img, .SFii-image img, .SNM-image img {
  width: 360px;
  height: 240px;
  margin: -10px -140px 0 -80px;
}

.SF-caption, .NY-caption, .LDN-caption, .NAPA-caption, .SFii-caption, .SNM-caption {
  position: absolute;
  line-height:30px;
  top: 120px;
  width: 100%;
  color:white;
  font-size: 20px;
  text-align:center;
}

.buttonOne, .buttonTwo {
  display: block;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #585C5F;
  padding: 8px 8px;
  margin: 40px auto;
  text-decoration: none;
  width: 180px;
  text-align:center;
}

@media (max-width: 375px) {
  .firstphotos, .scdphotos {
    flex-wrap: wrap;
    width: 100%;
    }

    .SF-image, .NY-image, .LDN-image, .NAPA-image, .SFii-image, .SNM-image {
      width: 180px;
    }
}

@media (max-width: 610px) {
  .firstphotos, .scdphotos {
    flex-wrap: wrap;
    width: 100%;
    }
}
